.vs/slnx.sqlite
.vs/Math-Comp-2-Group-3/v17/Browse.VC.opendb
.vs/Math-Comp-2-Group-3/v17/Browse.VC.db-wal
.vs/Math-Comp-2-Group-3/v17/Browse.VC.db-shm
.vs/Math-Comp-2-Group-3/v17/Browse.VC.db
.vs/Math-Comp-2-Group-3/v17/ipch/AutoPCH/847a192ab4cc8ada/MAIN.ipch
.vs/slnx.sqlite
*.ipch
*.sqlite
