.vs/slnx.sqlite
.vs/Math-Comp-2-Group-3/v17/Browse.VC.opendb
.vs/Math-Comp-2-Group-3/v17/Browse.VC.db-wal
.vs/Math-Comp-2-Group-3/v17/Browse.VC.db-shm
.vs/Math-Comp-2-Group-3/v17/Browse.VC.db
.vs/Math-Comp-2-Group-3/v17/ipch/AutoPCH/847a192ab4cc8ada/MAIN.ipch
.vs/slnx.sqlite
*.ipch
*.sqlite
*.sqlite
*.vsidx
*.db-wal
*.db-shm
*.db
.vs/Math-Comp-2-Group-3/CopilotIndices/17.14.1147.5054/CodeChunks.db
.vs/Math-Comp-2-Group-3/CopilotIndices/17.14.1147.5054/CodeChunks.db-shm
.vs/Math-Comp-2-Group-3/CopilotIndices/17.14.1147.5054/CodeChunks.db-wal
.vs/Math-Comp-2-Group-3/CopilotIndices/17.14.1147.5054/SemanticSymbols.db
.vs/Math-Comp-2-Group-3/CopilotIndices/17.14.1147.5054/SemanticSymbols.db-shm
.vs/Math-Comp-2-Group-3/CopilotIndices/17.14.1147.5054/SemanticSymbols.db-wal
.vs/Math-Comp-2-Group-3/FileContentIndex/7fcc915c-8484-42ec-b24b-42e8f738621a.vsidx
.vs/Math-Comp-2-Group-3/v17/.wsuo
.vs/Math-Comp-2-Group-3/v17/Browse.VC.db
.vs/slnx.sqlite
*.sqlite
*.db
.vs/Math-Comp-2-Group-3/v17/Browse.VC.db
.vs/Math-Comp-2-Group-3/v17/.wsuo
.vs/Math-Comp-2-Group-3/CopilotIndices/17.14.1147.5054/SemanticSymbols.db
.vs/Math-Comp-2-Group-3/CopilotIndices/17.14.1147.5054/CodeChunks.db
/.vs/Math-Comp-2-Group-3/v17
*.db
*.ipch
